body{
    font-family: "Roboto", sans-serif;
}

.my_aside-bar{
    width: 80px;
    background-color: #051e34;
    height: calc(100vh - 78px);
}

.my_main-container{
    background-color: #f8f9fa;
}

.my_content{
    width: calc(100vw - 80px);
    height: calc(100vh - 78px);
    overflow-y: auto;
}

ul{
    list-style: none;
}
.my_bg-blue{
    background-color: #1b72e8;
    color: white;
}

#offcanvasExample{
    width: 100%;
}

@media  screen and (min-width: 991.98px) {
    .my_aside-bar{
        width: 200px;
    }
    .my_content{
        width: calc(100vw - 200px);
    }
    #offcanvasExample{
        width: 45%;
    }
}
span{
    display: inline-block;
}

.my_badge_color{
    color: white;
    background-color: #165bba;
}

#my_mobile_img{
    width: 55px;
}
